<% if Team.exists? %>
    <% if @team.last.superheroes.count > @team.first.superheroes.count %>
        <h2>The team with the most superheroes created on this web app is "<%= @team.last.name %>" with a total number of <%= @team.last.superheroes.count %> superheroes.</h2> 
    <% else %>
        <h2>The team with the most superheroes created on this web app is "<%= @team.first.name %>" with a total number of <%= @team.first.superheroes.count %> superheroes.</h2> 
    <% end %>
<% else %>
<<<<<<< HEAD
    <h1>No team has been created on this web app</h1>
=======
    <h2>No Team has been created yet on this web app</h2>
>>>>>>> 13e19bb (revised superhero model to not accept duplicate teams)
<% end %>


